/* className = profile,  description,   avatar  name  opacity stats  label quantity  */

.profile {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 360px;
  margin: 0 auto 40px auto;
  outline: 2px solid rgba(119, 115, 115, 0.144);

  text-align: center;
  color: #000;
}

.description {
  margin: 40px auto 20px auto;
}

.avatar {
  background-color: azure;
  width: 180px;
  height: 100%;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  font-size: 26px;
}

.opacity {
  opacity: 0.6;
  font-size: 20px;
  font-weight: 500;
}

.stats {
  background-color: rgba(219, 228, 228, 0.514);
  border-top: 2px solid rgba(119, 115, 115, 0.144);

  margin: 0;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.statsItem {
  /* outline: 2px solid tomato; */
  list-style-type: none;
  padding: 10px;
}

li:not(:last-child) {
  border-right: 2px solid rgba(119, 115, 115, 0.144);
}

.label {
  display: block;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
}
.quantity {
  font-weight: 500;
}
